<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    <meta charset="utf-8">
    <title>Birthday Greeter</title>
    <style>

      h1 {
        text-align: center;
      }

    </style>
  </head>

  <body>
    <h1> Happy Birthday, <%=@user_name%>!</h1>
  </body>

</html>